* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 0);
}


.main {
    background-color: rgba(41, 40, 40, 0.315);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo {
    color: rgb(235, 191, 227);
    padding: 10px;
    font-size: 30px;
    font-style: oblique;
    font-weight: 200;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
}

.titulo i {
    font-size: 10px;
    color: rgb(252, 249, 249);
}

.reg {
    float: right;
}

.reg ul li {
    list-style: none;
}

.reg ul li a{
    display: inline-block;
    margin: 2px;
    padding: 17px;
    text-decoration: none;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(230, 218, 218);
    transition: 1s;
}

.reg ul li a:hover {
    background-color: rgba(179, 167, 167, 0.342);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(192, 64, 204, 0.6);
    color: white;
    margin: 11px;
    border-radius: 10px;
    padding: 8px;
    transition: 1s;
}
