* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/1920x1280_px_headband_Long_Hair_street_women-721098.png);
    background-color: rgb(0, 0, 0);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    background-color: rgba(41, 40, 40, 0.315);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo {
    color: rgb(192, 19, 134);
    padding: 10px;
    font-size: 30px;
    font-style: oblique;
    font-weight: 200;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
}

.titulo i {
    font-size: 10px;
    color: rgb(192, 19, 134);
}

.reg {
    float: right;
}

.reg ul li {
    list-style: none;
}

.reg ul li a{
    display: inline-block;
    margin: 10px;
    padding: 8px;
    text-decoration: none;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(192, 19, 134);
    transition: 1s;
}

.reg ul li a:hover {
    background-color: rgba(179, 167, 167, 0.301);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgb(192, 19, 134);
    color: white;
    margin: 10px;
    border-radius: 10px;
    padding: 8px;
    transition: 1s;
}

.regis {
    float: initial;
    border-radius: 100px;
    margin: 50px;
    margin-top: 25px;
    color: rgb(192, 19, 134);
    font-size: 50px;
    text-align: center;
    background-color: rgba(201, 195, 195, 0.178);
    box-shadow: 0 1px 1px rgba(204, 88, 15, 0.842)inset, 0 0 8px rgba(255,144,0,0.6);
}

.registro {
    font-family: fantasy;
    padding: 10px;
    transition: 1s;
    display: inline;
    text-align: start;
    border-radius: 5px;
}

.form .basedata {
    width: 50%;
    margin-left: 30%;
}

.form .basedata .data {
    margin: 7px;
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.062);
    border-radius: 5px;
}

.form .basedata .data1 {
    margin: 7px;
    background-color: rgba(0, 0, 0, 0.062);
    border-radius: 5px;
}

.form .basedata .data .input {
    color: rgb(255, 254, 251);
    padding: 10px;
    border-radius: 5px;
    transition: 2s;
    display: inline-block;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.281);
    border-color: rgba(255, 145, 0, 0.322);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgb(192, 19, 134);
    outline: 0 none;
}

.form .basedata .data1 .input {
    padding: 10px;
    border-radius: 5px;
    transition: 2s;
    display: inline-block;
}

.form .basedata .data .input:hover {
    color: rgba(0, 0, 0, 0.733);
    padding: 10,5px;
    background-color: rgba(231, 219, 219, 0.384);
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    border-color: rgba(42, 39, 245, 0.61);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(47, 0, 255, 0.6);
}

.form .basedata .data1 .input:hover {
    padding: 11px;
    border-radius: 8px;
    cursor: pointer;
    transition: 1s;
}

.button {
    background-color: rgb(7, 3, 71);
    font-size: 12px;
    border-radius: 3px;
    margin-left: 66px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 1px 1px rgba(175, 165, 159, 0.555)inset, 0 0 8px rgba(115, 89, 231, 0.6);
    transition: 1s;
    
}

.button:hover {
    font-size: 12px;
    border-radius: 5px;
    transition: 1s;
    background-color: rgb(37, 22, 245);
    cursor: pointer;
    border-color: rgb(235, 191, 227);
    box-shadow: 0 1px 1px rgba(165, 160, 157, 0.781)inset, 0 0 8px rgba(57, 10, 228, 0.6);
}

.button p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.datamsj {
    color: rgba(109, 12, 12, 0.548);
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    text-align: center;
    margin-left: 35px;
}

::-webkit-input-placeholder {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: rgb(247, 245, 238);
}

