* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/wallpapers-hd-para-mujeres.png);
    background-color: rgb(3, 0, 0);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    background-color: rgba(41, 40, 40, 0.315);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo {
    color: rgb(192, 19, 134);
    padding: 10px;
    font-size: 30px;
    font-style: oblique;
    font-weight: 200;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
}

.titulo i {
    font-size: 10px;
    color: rgb(253, 247, 247);
}

.nav {
    width: 79%;
    margin-left: 20%;
}

.reg {
    float: right;
}

.reg ul li {
    list-style: none;
}

.reg ul li a{
    display: inline-block;
    margin: 5px;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(192, 19, 134);
    transition: 1s;
}

.reg ul li a:hover {
    background-color: rgba(179, 37, 179, 0.089);
    box-shadow: 0 1px 1px rgba(229, 23, 177, 0.075)inset, 0 0 8px rgba(192, 64, 204, 0.6);
    color: white;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
    transition: 1s;
}

/*nav*/

.info {
    margin: 20px;
    padding: 10px;
}

.info .nav nav ul {
    text-align: right;
    padding: 0px;
    margin-right: 30px;
}

.info .nav nav ul li{
    background-color: rgba(0, 0, 0, 0.096);
    border-radius: 100px;
    display: inline-block;
    list-style: none;
    margin: 20px;
    transition: 1s;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(192, 64, 204, 0.6);
}

.info .nav nav ul li:hover {
    background-color: rgba(233, 13, 233, 0.39);
    border-radius: 100px;
    display: inline-block;
    list-style: none;
    margin: 20px;
    transition: 1s;
}

.info .nav nav ul li a {
    text-decoration: none;
    font-size: 20px;
    font-style: oblique;
    font-family: fantasy;
    color: rgb(192, 19, 134);
    margin: 50px;
    padding: 5px;
    transition: 1s;
}

.info .nav nav ul li a:hover {
    background-color: rgba(175, 104, 160, 0.26);
    color: rgba(250, 242, 250, 0.938);
    border-radius: 5px;
    padding: 5px;
    margin: 50px;
    font-size: 20px;
    font-style: oblique;
    cursor: pointer;
    transition: 1s;
}

/* leyenda */

.post {
    width: 50%;
    margin: 30px;
    padding: 0px;
    float: right;
}

.post .leyenda {
    width: 90%;
    margin-top: 80px;
    background-color: rgba(139, 0, 139, 0.24);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(192, 64, 204, 0.6);
    border-radius: 5px;
    color: rgb(192, 19, 134);
    float: left;
    font-size: 36px;
    font-style: oblique;
    padding: 8px;
    text-align: center;
    font-family: fantasy;
}

.whatsInst .inst {
    margin: 0px;
    padding: 0px;
    float: right;
}

.whatsInst .inst .logoinst {
    display: inline-block;
    width: 5%;
}

.whatsInst .inst .instlogo {
    width: 83%;
    text-align: right;
    margin-top: 80px;
}

.whatsInst .inst .instlogo .logoinst {
    display: inline-block;
    margin: -9px;
}

.whatsInst .inst .instlogo .crazyinst {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    font-size: 41px;
    color: white;
    font-family: fantasy;
    font-style: italic;
}


